nav
    ul.sidebar-nav
        li
            a(href='/') Home
        li
            a(href='/attributes') All Attributes
        li
            a(href='/monster_categories') All Monster Categories					
        li
            a(href='/monster_types') All Monster Types
        li
            a(href='/spell_types') All Spell Types
        li
            a(href='/trap_types') All Trap Types
        li
            hr
        li
            a(href='/monster_card/create') Create new monster card
        li
            a(href='/spell_card/create') Create new spell card
        li
            a(href='/trap_card/create') Create new trap card
        li
            a(href='/attribute/create') Create new attribute
        li
            a(href='/monster_category/create') Create new monster category
        li
            a(href='/monster_type/create') Create new monster type
        li
            a(href='/spell_type/create') Create new spell type
        li
            a(href='/trap_type/create') Create new trap type