extends layout

block content
	h1 Spell Type: #{spell_type.name}
	
	div(style='margin-left:20px;margin-top:20px')
		p There are #{spell_cards_of_this_type_count} spell card/s or this type.

	hr
	p
		a(href=spell_type.url+'/delete') Delete Spell Type
	p
		a(href=spell_type.url+'/update') Update Spell Type					